extends layout

block content
    p Welcome #{userName}
    ul
        li
            a(href='/randomJoke') Random Joke
        li
            a(href='/jokes') All Jokes
        li
            a(href='/addJoke') Add Joke


