extends layout

block content
    h1= title
    p Welcome to #{title}
    p #{info}
    p Authors
    ul
        each author in authors
            li #{author}
    a(href="app/connect4.html") Play the game